button.context {
    background: none !important;
    border: none !important;
    padding: 0 4px !important;
    min-width: 0 !important;
    box-shadow: none !important;
}

button.context:hover {
        color: aquamarine !important;
    }

div.context-menu {
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: fit-content;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

div.context-menu .menu-options {
        list-style: none;
        padding: 10px 0;
        margin: 0;
        background: #ffffffc7;
        border-radius: 5px;
        backdrop-filter: blur(4px);
    }

:is(div.context-menu .menu-options) .menu-option {
            font-weight: 500;
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            column-gap: 5px;
            align-items: center;
            color: #2c344e;
            white-space: nowrap;
        }

:is(:is(div.context-menu .menu-options) .menu-option) i{
                color: inherit;
            }

:is(:is(div.context-menu .menu-options) .menu-option):hover {
                background: rgba(0, 0, 0, 0.2);
            }

div.context-menu.expanded {
        display: block;
    }
#_udap_context-menu {
    margin-left: auto;
    width: min-content;
}