:link,
:visited,
.container .pathSelector .selector:hover {
    color: #fff
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    background: #1f2641;
    color: #fff;
    font-family: "Nunito Sans";
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    overflow: hidden
}

.container {
    /* height: 650px; */
    height: 100dvh;
}

.tabs_header {
    display: flex;
    column-gap: 2px;
    border-bottom: 1px solid #47a3e3;
    padding-left: 5px;
    box-shadow: 0 -4px 8px #005fa1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10px;
    position: relative;
}

.tabs_header .tab_header {
        border: 1px solid #47a3e3;
        border-bottom: none;
        padding: 0 5px;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
    }

.selected:is(.tabs_header .tab_header) {
            background: #47a3e3;
            color: white;
            /* font-weight: 600 */
        }

.tabs_header button {
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 4px;
        color: aquamarine;
        opacity: 0.3;
    }

:is(.tabs_header button):hover {
            opacity: 1;
            border: none;
            background: none;
        }

.container>div.header {
    margin: 5px;
    position: relative;
    resize: vertical;
    overflow: hidden;
    min-height: 75px;
    max-height: 228px;
    color: #7fffd4;
}

:is(.container > div.header) .general_info {
        position: relative;
    }

:is(:is(.container > div.header) .general_info) .pannel {
            color: aquamarine;
        }

:is(:is(:is(.container > div.header) .general_info) .pannel) select {
                max-width: 350px;
                border: none;
                background: none;
                color: inherit;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

:is(:is(:is(:is(.container > div.header) .general_info) .pannel) select) option {
                    color: black;
                }

:is(:is(:is(:is(.container > div.header) .general_info) .pannel) .line) input[type="text"] {
                    width: 100%;
                    background: 0 0;
                    border: none;
                    border-bottom: 1px solid #47a3e3;
                    color: #fff;
                }

:is(:is(.container > div.header) .general_info) .cancel {
            float: right
        }

:is(:is(.container > div.header) .general_info)  > div {
            position: relative;
        }

.frame_path:is(:is(.container > div.header) .general_info) {
            display: none;
        }

.frame_path:is(:is(.container > div.header) .general_info) select.pathname {
                max-width: 340px;
            }

:is(.container > div.header) .content_name_pannel {
        padding: 8px 0 0;
        display: flex;
        justify-content: space-between;
    }

:is(:is(.container > div.header) .content_name_pannel) .content_name {
            margin-bottom: 8px;
            display: flex;
            column-gap: 5px;
            width: 100%;
        }

:is(:is(:is(.container > div.header) .content_name_pannel) .content_name) input[type=text] {
                width: 100%;
                background: 0 0;
                border: none;
                border-bottom: 1px solid #47a3e3;
                color: #fff
            }

:is(.container > div.header)  > span {
        color: aquamarine;
        max-width: 285px;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

:is(.container > div.header)  > .buttons {
        position: fixed;
        right: 4px;
        width: fit-content;
        top: 0;
        z-index: 1;
        display: flex;
        column-gap: 5px;
    }

:is(:is(.container > div.header) > .buttons) button {
            display: flex;
            column-gap: 5px;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            color: white;
            height: 25px;
        }


.container .pathSelector:hover,
div.builders .editor:hover,
div.builders:hover {
    overflow: auto
}

:is(div.builders :is(.visibility_builder,.content_builder)) input {
        height: 20px;
        background: inherit;
        border: 0;
        border-bottom: 1px solid #fff;
        color: inherit;
    }

:is(div.builders :is(.visibility_builder,.content_builder)) select {
        height: 20px;
        width: fit-content;
        border: 0;
        border: 1px solid #737d9d85;
        background: #37467373;
        color: white;
        border-radius: 10px;
        direction: rtl;
        text-align: left;
    }

div.builders :is(.visibility_builder, .content_builder) select option {
    color: #000;
    background: white;
}

#hint_tooltip_editor,
#smarttip_tooltip_editor,
#tooltip_editor {
    background: #fff;
    color: black;
}

div.builders {
    overflow: hidden;
    height: 490px;
    margin: 10px 5px 5px;
    width: calc(100% - 10px);
}

div.builders .content_builder {
        margin-top: 5px;
        display: grid;
        justify-content: center;
        position: relative;
    }

:is(div.builders .content_builder) button.preview {
            position: absolute;
            right: 0;
        }

:is(div.builders .content_builder) .style_templates {
            min-width: 120px;
        }

:is(div.builders .content_builder) .control_pannel {
            display: none;
            padding: 5px;
        }

:is(:is(div.builders .content_builder) .control_pannel)  > select {
                margin-left: 5px;
                border: none;
                color: #7fffd4
            }

:is(:is(div.builders .content_builder) .control_pannel) div.line {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                margin: 5px 0;
                position: relative;
            }

.trigger_value:is(:is(:is(div.builders .content_builder) .control_pannel) div.line) {
                    display: none;
                }

.trigger_value:is(:is(:is(div.builders .content_builder) .control_pannel) div.line) select.value {
                        width: 100%;
                    }

.no_break:is(:is(:is(div.builders .content_builder) .control_pannel) div.line) {
                    display: block;
                }

:is(:is(div.builders .content_builder) .control_pannel) input.reposition {
                width: 80px;
            }

:is(:is(div.builders .content_builder) .control_pannel) .line :is(.hint,.button) {
                box-shadow: #f37120 -1px 1px 12px;
                background: #f37120;
                border: none;
                width: 15px;
                height: 15px;
                border-radius: 20px;
            }

/* height: 90px; */

:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area {
                    position: absolute;
                    height: 95px;
                    width: 200px;
                    box-sizing: border-box;
                    left: calc((100% - 200px) / 2);
                    top: 5px;
                }

:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div {
                        position: absolute;
                    }

:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div):is(.smarttip,.hint) {
                            top: calc((100% - 15px) / 2);
                            left: calc((100% - 15px) / 2);
                        }

.tooltip:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                            width: 50px;
                            height: 25px;
                            background-color: #ffffff7d;
                            border-radius: 6px;
                            cursor: pointer;
                        }

.tooltip:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div):hover {
                                box-shadow: #47a3e3 -1px 1px 12px;
                            }

.tooltip.selected:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                                box-shadow: #47a3e3 -1px 1px 12px;
                                background: #47a3e3;
                            }

.tooltip.selected[pos="top"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                        border-color: #47a3e3 transparent transparent transparent;
                                    }

.tooltip.selected[pos="left"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                        border-color: transparent transparent transparent #47a3e3;
                                    }

.tooltip.selected[pos="right"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                        border-color: transparent #47a3e3 transparent transparent;
                                    }

.tooltip.selected[pos="bottom"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                        border-color: transparent transparent #47a3e3 transparent;
                                    }

.tooltip[pos="top"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                                top: 0;
                                left: calc((100% - 50px) / 2);
                            }

.tooltip[pos="top"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                    content: "";
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: #ffffff7d transparent transparent transparent;
                                }

.tooltip[pos="left"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                                top: calc((100% - 25px) / 2);
                                left: 0;
                            }

.tooltip[pos="left"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 100%;
                                    margin-top: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent transparent transparent #ffffff7d;
                                }

.tooltip[pos="right"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                                top: calc((100% - 25px) / 2);
                                right: 0;
                            }

.tooltip[pos="right"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 100%;
                                    margin-top: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent #ffffff7d transparent transparent;
                                }

.tooltip[pos="bottom"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div) {
                                bottom: 0;
                                left: calc((100% - 50px) / 2);
                            }

.tooltip[pos="bottom"]:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.tooltip_position_area)) .tooltip_position_area) div)::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 100%;
                                    left: 50%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent transparent #ffffff7d transparent;
                                }

:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area {
                    position: relative;
                    height: 95px;
                    width: 200px;
                    box-sizing: border-box;
                    left: calc((100% - 200px) / 2);
                    top: 5px;
                }

:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) div {
                        position: absolute
                    }

:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .content {
                        border: 1px dashed #436258;
                        color: #7fffd4;
                        height: 60px;
                        width: 162px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        top: calc((100% - 60px) / 2);
                        left: calc((100% - 162px) / 2);
                    }

:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        border-radius: 20px;
                        border: 1px solid rgb(62, 110, 144);
                        display: none;
                    }

:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position):hover {
                            box-shadow: #47a3e3 -1px 1px 12px;
                            background: #47a3e3;
                        }

[inside='no'][pos='top-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 0;
                                left: 0;
                            }

[inside='no'][pos='top-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 0;
                                right: 0;
                            }

[inside='no'][pos='bottom-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 0;
                                left: 0;
                            }

[inside='no'][pos='bottom-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 0;
                                right: 0;
                            }

[inside='no'][pos='middle-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: calc((100% - 15px) /2);
                                left: 0;
                            }

[inside='no'][pos='middle-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: calc((100% - 15px) /2);
                                right: 0;
                            }

[inside='no'][pos='bottom-middle']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 0;
                                left: calc((100% - 15px) /2);
                            }

[inside='no'][pos='top-middle']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 0;
                                left: calc((100% - 15px) /2);
                            }

[inside='yes'][pos='top-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 20px;
                                left: 20px;
                            }

[inside='yes'][pos='top-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 20px;
                                right: 20px;
                            }

[inside='yes'][pos='bottom-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 20px;
                                left: 20px;
                            }

[inside='yes'][pos='bottom-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 20px;
                                right: 20px;
                            }

[inside='yes'][pos='middle-left']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: calc((100% - 15px) /2);
                                left: 20px;
                            }

[inside='yes'][pos='middle-right']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: calc((100% - 15px) /2);
                                right: 20px;
                            }

[inside='yes'][pos='middle-middle']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: calc((100% - 15px) /2);
                                left: calc((100% - 15px) /2);
                            }

[inside='yes'][pos='bottom-middle']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                bottom: 20px;
                                left: calc((100% - 15px) /2);
                            }

[inside='yes'][pos='top-middle']:is(:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                top: 20px;
                                left: calc((100% - 15px) /2);
                            }

.absolute:is([type='absolute']:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                display: block;
                            }

.relative:is([type='relative']:is(:is(:is(:is(div.builders .content_builder) .control_pannel) .line:has(.position_area)) .position_area) .position) {
                                display: block;
                            }

div.builders .editor {
        height: 105px;
        width: 100%;
        border: 1px solid;
        border-color: inherit;
        border-radius: 5px;
        background: inherit;
        color: inherit;
        overflow: hidden;
    }

:is(div.builders .editor)::-webkit-scrollbar {
            width: 5px;
            height: 10px;

        }

:is(div.builders .editor)::-webkit-scrollbar-thumb {
            background: #a1a8b4;
            border-radius: 10px;
            cursor: pointer;
        }

div.builders::-webkit-scrollbar {
        width: 5px
    }

div.builders::-webkit-scrollbar-thumb {
        background: #a1a8b430;
        border-radius: 10px;
        cursor: pointer;
    }

.tox-notifications-container,
.tox-promotion,
.block .content .conditions .line:first-child div.method select.operator,
div.builders .builder {
    display: none
}

.template {
    display: none !important;
}

.custom_path_pannel {
    background: #374673;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    display: none;
}

.custom_path_pannel .line:first-child {
        position: relative;
        padding-bottom: 10px;
        display: flex;
    }

:is(.custom_path_pannel .line:first-child) .buttons {
            display: flex;
            column-gap: 5px;
            position: absolute;
            right: 0;
        }

.custom_path_pannel select {
        max-width: 210px;
        border: none;
        background: none;
        color: white;
    }

:is(.custom_path_pannel select) option {
            color: black;
        }


select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 5px
}

select::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background: #a1a8b4;
    border-radius: 10px
}

button {
    color: #fff;
    border-radius: 4px;
    background: #2975e6;
    border: 1px solid #5097ff;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}

button:hover {
        filter: none;
        cursor: pointer;
        /* box-shadow: 4px 8px 8px hsl(0deg 0% 0% / .38); */
        background: #2975e6
    }

.tox-tinymce {
    border-radius: 4px !important
}

.tox-editor-header {
    padding: 0 !important
}

.tox .tox-mbtn {
    height: 20px !important;
    margin: 3px 1px 3px 0 !important
}

.tox-tinymce-inline {
    width: auto !important
}

.fa.fa-trash-o {
    color: #d30038
}

.block {
    border: 1px solid #305eab;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px;
}

.block :is(.key,.operator,.value) {
        display: none
    }

.block .content {
        background: #374673;
        padding: 5px;
        margin-top: 5px;
        display: grid;
        border-radius: 0 0 5px 5px;
        color: white;
    }

:is(.block .content) p {
            margin: 10px 0;
        }

:is(:is(.block .content) .conditions) .line {
                padding: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
            }

:is(:is(:is(.block .content) .conditions) .line) div.method {
                    position: relative;
                }

:is(:is(:is(:is(.block .content) .conditions) .line) div.method) .remove {
                        position: absolute;
                        right: 0;
                        border: none;
                        background: 0 0;
                    }

:is(:is(:is(:is(:is(.block .content) .conditions) .line) div.method) .remove):hover {
                            box-shadow: none
                        }

:is(:is(:is(:is(.block .content) .conditions) .line) div.method) .operator {
                        width: 100px
                    }

:is(:is(:is(.block .content) .conditions) .line) .condition {
                    display: flex;
                    column-gap: 2px;
                    padding-top: 5px;
                }

:is(:is(:is(:is(.block .content) .conditions) .line) .condition) .key {
                        max-width: 120px;
                    }

:is(:is(:is(:is(.block .content) .conditions) .line) .condition) .operator {
                        max-width: 85px;
                    }

:is(:is(:is(:is(.block .content) .conditions) .line) .condition) .value {
                        /* max-width: 112px */
                        width: 100%;
                    }

:is(:is(:is(.block .content) .conditions) .line) .tool {
                    padding-top: 5px;
                }

.movable:is(:is(:is(.block .content) .conditions) .line) input {
                        border-color: #1f2641;
                    }

:is(.content_builder .workflow .step .detail .completion_rules) .key {
        display: inline;
    }

:is(:is(:is(.where .content) .conditions) .line:first-child) .connector {
                    display: none;
                }

:is(.visibility_builder .when .content) .line {
            margin: 10px 0;
            display: flex;
            column-gap: 5px;
        }

:is(:is(.visibility_builder .when .content) .line)  > div:first-child {
                width: 70px;
                display: flex;
                align-items: center;
                padding-left: 10px;
            }

:is(:is(.visibility_builder .when .content) .line)  > div:nth-child(2) {
                width: 110px
            }

:is(:is(.visibility_builder .when .content) .line)  > div:nth-child(3) {
                width: 90px
            }

:is(:is(.visibility_builder .when .content) .line) select.recurrence {
                width: fit-content
            }

:is(:is(.visibility_builder .when .content) .line) :is(select,input[type=number]) {
                width: 98%;
            }

:is(:is(.visibility_builder .when .content) .line) input[type=date] {
                width: 98%;
                height: 20px;
                border: 1px solid #737d9d85;
                background: #37467373;
                color: white;
                text-align: center;
                border-radius: 10px;
            }

:is(.visibility_builder .when .content) .schedule {
            display: grid;
        }

:is(:is(.visibility_builder .when .content) .schedule) .remove {
                border: none;
                background: inherit;
            }

:is(:is(:is(.visibility_builder .when .content) .repeat) .line)  > div:nth-child(3) {
                    display: contents;
                }

:is(:is(:is(:is(.visibility_builder .when .content) .repeat) .line) > div:nth-child(3)) span {
                        font-size: 12px;
                        display: grid;
                        font-style: italic
                    }

.movable {
    border: 1px solid #a2abc6;
    border-right: 5px solid #b8ddf6;
    background: #a2abc6;
    color: #1f2641;
    border-radius: 5px;
    margin: 0 0 5px;
    position: relative;
    padding: 5px;
}

.movable .remove_item {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid #b8ddf6;
        background: #b8ddf6;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1;
    }

:is(.movable .remove_item) button {
            background: none;
            border: none;
            width: 15px;
            padding: 0 4px;
        }

:is(:is(.movable .remove_item) button):hover {
                box-shadow: none;
            }

input,
textarea {
    box-sizing: border-box;
}

textarea {
    resize: none
}

select option[disabled] {
        display: none;
    }

.hide {
    display: none !important;
}

.content_container {
    display: flex;
    align-items: center;
}

.popup_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.language_selector_container {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
}

.language_selector_container select {
        direction: ltr !important;
        text-align: center !important;
    }

.language_selector_container p {
        margin: 0;
    }

.relative {
    position: relative;
}

.mb-5 {
    margin-bottom: 5px;
}

.language_selector_container.floating-right {
    position: absolute;
    right: 0;
}

#hint_language_selector {
    min-width: 50px;
}

/* .is-hidden { 
    display: none !important; 
} */

.multilang_selector_container {
    display: inline-table;
    text-align: center;
    margin-bottom: 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    min-width: 35px;
    padding-left: 5px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.multilang_selector_container i.fa-language {
        display: ruby;
        cursor: pointer;
    }

#multilang_name {
    height: 20px;
    background: none;
    border: 0;
    color: #fff;
    direction: ltr;
    text-align: center;
    display: none;
}

#multilang_name option {
        color: #000;
    }