html,body {
    height: 100%;
}
body {
    margin: 0 5px;
    /* display: flex; */
    flex-direction: column;
    background-color: rgb(31, 38, 65);
}

.items {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #305eab;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, .24) 0 3px 8px;
}
.listing {
    flex: 1;
    background: #c8d5ff87;
    padding: 8px 5px 8px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #224964;
    color: #2c344e;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.listing .tenant_item {
        display: flex;
        flex-direction: column;
        background-color:  rgb(31, 38, 65);
        border-radius: 5px;
    }
.listing .tenant_info {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        padding: 5px;
        align-items: center;
        color: white;
        font-weight: 600;
    }
:is(.listing .tenant_info) .update_tenant {
            margin-left: auto;
        }
.listing .language_info {
        display: none;
        flex-direction: column;
        padding: 0 5px;
    }
.listing .language_item {
        display: flex;
        padding: 5px;
        gap: 8px;
        border-radius: 0 0 5px 5px ;
        align-items: center;
        background-color: #c8d5ff87;
        color: #2c344e;
        font-weight: 600;
        margin-bottom: 5px;
    }
:is(.listing .language_item) .language_item_value {
            color: white;
        }

.template {
    display: none;
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


.header .cancel {
        margin-top: 8px;
        margin-left: auto;
    }


.header #insert_language {
        margin-left: auto;
    }


.header .header_title {
        color: white;
        font-size: 14px;
        line-height: 20px;
    }
button {
    color: white;
    border-radius: 4px;
    background: #2975E6;
    border: 1px solid #5097FF;
}

button:hover {
    filter: none;
    cursor: pointer;
    /* box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); */
    background: #2975E6;
}
input,
select {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #47a3e3;
    color: inherit
}

select option {
    color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    color: #fff;
    border-radius: 4px;
    background: #2975e6;
    border: 1px solid #5097ff;
    min-width: 25px;
    height: 20px;
}

button:hover {
        filter: none;
        cursor: pointer;
        /* box-shadow: 4px 8px 8px hsl(0deg 0% 0% / .38); */
        background: #2975e6
    }

input,
select {
    height: 20px
}

#popup .col1 {
        margin-bottom: 8px;
    }

#popup .col2 {
        display: flex;
        margin-bottom: 8px;
    }

#popup .col2 input {
        flex: 1;
    }

#popup .dialog .content {
        max-height: 50vh !important;
    }

.select_language {
    width: 100%;
}
#select_tenant {
    width: 100%;
}
.add_language_button {
    margin: auto;
}
#popup_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}