
    .control_pannel.popup .header {
        width: 100%;
        margin-top: 5px;
    }
:is(.control_pannel.popup .header) span {
            border: 1px solid #a2abc6;
            padding: 0 5px;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
        }
.selected:is(:is(.control_pannel.popup .header) span) {
                background: #a2abc6;
                color: #094670;
                font-weight: 600;
            }
.control_pannel.popup .tab {
        display: none;
        width: 100%;
        background: #a2abc6;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 5px;
        color: #1f2641;
        box-sizing: border-box;
    }
:is(.control_pannel.popup .tab) .editor {
            max-width: 355px;
            resize: vertical;
            height: 400px;
            background: white;
        }
:is(:is(.control_pannel.popup .tab) .editor):disabled{
                background: lightgray;
                color: gray;
            }
.Content:is(.control_pannel.popup .tab){
            position: relative;
        }
.Content:is(.control_pannel.popup .tab) .type{
                display: none;
            }
.Content:is(.control_pannel.popup .tab) .unlock_btn{
                display: none;

                background: #0d0d0d9c;
                border-radius: 10px;
                margin: 45px 19px;
                position: absolute;
                top: 0;
                padding: 40px 20px;
                text-align: center;
            }
:is(.Content:is(.control_pannel.popup .tab) .unlock_btn) button{
                    margin-bottom: 10px;
                }
.Content:is(.control_pannel.popup .tab)  > .header{
                margin-bottom: 5px;
                position: relative;
            }
:is(.Content:is(.control_pannel.popup .tab) > .header) .language_selector_container{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
:is(.Content:is(.control_pannel.popup .tab) > .header) select{
                    border: none;
                }
:is(.Content:is(.control_pannel.popup .tab) .link) .line{
                    width: 100%;
                    margin: 10px 0;
                    display: block;
                }
:is(:is(.Content:is(.control_pannel.popup .tab) .link) .line) input{
                        width: 65px;
                    }
:is(.Advanced:is(.control_pannel.popup .tab) .where) .content {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                }
:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area {
                        position: relative;
                        background: #00000061;
                        height: 95px;
                        width: 200px;
                        box-sizing: border-box;
                    }
:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position {
                            position: absolute;
                            cursor: pointer;
                            width: 55px;
                            height: 20px;
                            background: #3f4e7b26;
                        }
:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position):hover {
                                box-shadow: #47a3e3 -1px 1px 12px;
                                background: #47a3e3;
                            }
.popup:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                background: #d7d7eaad;
                            }
[pos='top_left']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: 4px;
                                top: 4px;
                            }
[pos='top_middle']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: calc((100% - 60px) /2);
                                top: 4px;
                            }
[pos='top_right']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                right: 4px;
                                top: 4px;
                            }
[pos='bottom_left']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: 4px;
                                bottom: 4px;
                            }
[pos='bottom_middle']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: calc((100% - 60px) /2);
                                bottom: 4px;
                            }
[pos='bottom_right']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                right: 4px;
                                bottom: 4px;
                            }
[pos='middle_right']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                right: 4px;
                                top: calc((100% - 25px) /2);
                            }
[pos='middle_left']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: 4px;
                                top: calc((100% - 25px) /2);
                            }
[pos='center']:is(:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .where) .content) .position_area) .position){
                                left: calc((100% - 60px) /2);
                                top: calc((100% - 25px) /2);
                            }
/* .popup_type{
                .window_type{
                    display: none;
                    &.outer{
                        display: block;
                    }
                }
            } */
.Advanced:is(.control_pannel.popup .tab) .adv_editor {
                display: none;
            }
:is(.Advanced:is(.control_pannel.popup .tab) .adv_editor) .header {
                    display: grid;
                }
:is(:is(.Advanced:is(.control_pannel.popup .tab) .others) .content) .line {
                        margin: 0;
                    }
:is(:is(:is(.Advanced:is(.control_pannel.popup .tab) .others) .content) .line)  > div {
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                        }