body {
  background: #1f2641;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a1a8b4;
  border-radius: 10px;
}

input,
textarea {
  box-sizing: border-box;
}

input,
select {
  height: 20px;
  background: 0 0;
  border: none;
  color: inherit;
}

input {
  border-bottom: 1px solid #47a3e3;
}

select option {
  color: black;
}

button {
  /* color: white; */
  border-radius: 4px;
  /* background: #2975e6; */
  /* border: 1px solid #5097ff; */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
  height: 25px;
}

.template-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  filter: none;
  cursor: pointer;
  /* box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); */
  background: #2975e6;
}

body>.header {
  display: flex;
  margin: 8px;
  column-gap: 5px;
  position: relative;
}

body>.header button.cancel {
  margin-left: auto;
}

.tabs_header {
  column-gap: 2px;
  border-bottom: 1px solid #47a3e3;
  padding-left: 5px;
  padding-top: 10px;
  position: relative;
  display: flex;
}

.tabs_header .tab_header {
    border: 1px solid #47a3e3;
    padding: 0 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: inline-block;
    border-bottom: none;
  }

.selected:is(.tabs_header .tab_header) {
      background: #47a3e3;
      color: white;
      /* font-weight: 600 */
    }

.body {
  padding: 5px;
}

.body .tab {
    display: none;
  }

:is(.body .tab)  > div {
      padding: 10px 10px 0;
    }

:is(.body .tab) .line {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

:is(:is(.body .tab) .general) input[type="text"] {
        width: 100%;
      }

:is(:is(.body .tab) .general) .template {
        color: aquamarine;
      }

:is(.body .tab) .basic {
      display: flex;
      column-gap: 20px;
    }

:is(:is(.body .tab) .basic) .sample {
        width: 115px;
        background: white;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 5px #005fa1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

:is(:is(:is(:is(.body .tab) .basic) .control) .line) span {
            width: 110px;
          }

:is(:is(:is(:is(.body .tab) .basic) .control) .line) input[type="number"] {
            width: 50px;
          }

:is(:is(:is(:is(.body .tab) .basic) .control) .line) input[type="text"] {
            width: 120px;
          }

:is(:is(.body .tab) .advanced) .title {
        margin-bottom: 10px;
      }

:is(:is(.body .tab) .advanced) .editor {
        height: 360px;
        width: 100%;
        border-radius: 5px;
        background: #374673;
        color: inherit;
        padding: 10px;
        resize: vertical;
      }

:is(:is(:is(.body .tab) .advanced) .editor)::-webkit-scrollbar {
          width: 5px;
        }

:is(:is(:is(.body .tab) .advanced) .editor)::-webkit-scrollbar-thumb {
          background: #a1a8b4;
          border-radius: 10px;
        }

:is(:is(.body .tab) .advanced) .css-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

:is(.body .tab) .new-style {
      display: flex;
      align-items: center;
    }