
    :is(div.builders .content_builder .control_pannel.workflow .view)  > .line:has( > .more) {
        display: flex;
        justify-content: center;
    }
:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .start {
            height: 36px;
            left: 100px;
            display: flex;
            justify-content: center;
            position: absolute;
        }
:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .start) .icon {
                height: 36px;
                width: 36px;
                /* border: 1px solid #7fffd4; */
                border-radius: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: smaller;
                background-image: radial-gradient(circle, #51635d, #428c74, #7fffd4);
            }
:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .start) button.more {
                position: absolute;
                bottom: -25px;
            }
:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step {
            position: absolute;
            width: 100%;
        }
:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step)  > .content {
                display: flex;
                align-items: center;
                position: relative;
                border: 1px solid #7fffd4;
                background: #51635d;
                border-radius: 5px;
                padding: 5px;

                /* margin-bottom: 20px; */
            }
:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) > .content) button.context {
                    position: absolute;
                    right: 5px;
                }
:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) > .content) input.name {
                    width: 90%;
                    border: none;
                }
:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail {
                display: none;
                /* padding: 10px; */
                border-radius: 5px;
                background: #2b375c;
                margin-top: 5px;
            }
.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100dvw;
                    height: 100dvh;
                    background: #000000b8;
                    backdrop-filter: blur(3px);
                    padding: 10px;
                    overflow: scroll;
                    z-index: 2;
                }
.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .dialog {
                        padding: 10px;
                        position: relative;
                        background: #3f4970;
                        border-radius: 10px;
                    }
:is(.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .dialog) .tox-editor-container button {
                            position: sticky !important;
                            color: #222f3e !important;
                        }
.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .footer {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0 10px;
                        text-align: right;
                        position: relative;
                    }
:is(.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .footer) .save {
                            height: 30px;
                            line-height: 30px;
                            width: 80px;
                        }
.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .title {
                        padding: 10px;
                        margin: 15px 0;
                        /* width: 356px; */
                        position: relative;
                        background: #3f4970;
                        border-radius: 10px;
                    }
:is(.expanded:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .title) .name {
                            width: 100%;
                        }
:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .header {
                    width: 100%;
                }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .header) span {
                        border: 1px solid #a2abc6;
                        padding: 0 5px;
                        border-radius: 5px 5px 0 0;
                        cursor: pointer;
                    }
.selected:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .header) span) {
                            background: #a2abc6;
                            color: #094670;
                            font-weight: 600;
                        }
:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) div:is(.Basic,.Advanced) {
                    width: 100%;
                    background: #a2abc6;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding: 5px;
                    color: #1f2641;
                    display: none;
                    box-sizing: border-box;

                }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) .editor {
                        width: auto;
                        background: white;
                        resize: vertical;
                    }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) textarea {
                        height: 40px;
                    }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) select {
                        border: none;
                    }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic)  > .line {
                        position: relative;

                    }
.frame_path:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) {
                            display: none;
                        }
.frame_path:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) select.pathname {
                                max-width: 340px;
                            }
:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) button {
                            position: absolute;
                            right: 0;
                            background: none;
                            color: #5097ff;
                            border: none;
                            top: 25px;
                        }
:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel {
                            color: #1f2641;
                        }
.custom_path_pannel:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) {
                                color: white;
                                display: block;
                            }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) select {
                                max-width: 350px;
                                border: none;
                                background: none;
                                color: inherit;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
:is(:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) select) option {
                                    color: black;
                                }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) .line {
                                display: flex;
                                flex-direction: row;
                                padding-bottom: 0;
                            }
:is(:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) .line) input[type="text"] {
                                    width: 100%;
                                    background: 0 0;
                                    border: none;
                                    border-bottom: 1px solid #47a3e3;
                                    color: #fff;
                                }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel) .cancel {
                                float: right
                            }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Basic) > .line) .pannel)  > div {
                                position: relative;
                            }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .others) .content) .line {
                                margin: 0;
                            }
:is(:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .others) .content) .line)  > div {
                                    display: flex;
                                    align-items: center;
                                    column-gap: 5px;
                                }
:is(:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .others) .content) .line) input[type="number"]{
                                    width: 50px;
                                }
:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .completion_rules) input.value {
                            width: 100%;
                        }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .when {
                        display: none;
                    }
:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .location) .line div {
                            display: flex;
                            align-items: center;
                        }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .location) .line div) .url {
                                width: 95%;
                            }
:is(:is(:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) .detail) .Advanced) .location) .line div):last-child {
                                font-size: 11px;
                                font-style: italic;
                            }
.step_block:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .step) {
                width: fit-content;
            }
:is(:is(:is(:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) .start + .step) .detail) .Advanced) .when {
                        display: block;
                    }
:is(:is(div.builders .content_builder .control_pannel.workflow .view) .data) canvas {
            position: absolute;
            top: 0;
            left: 0;
        }