.templateDescription,
.templateTitle {
    font-family: Roboto, sans-serif;
    text-align: left
}

.popupTemplateCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background: #fff;
    border-radius: 5px;
    position: relative;
    height: 100%;
    max-width: 800px
}

.popupBannerHeader {
    background: #f4f5f7;
    border-bottom: 2px solid #e1e4ea;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 35px
}

.popupCenterAlign {
    display: table;
    margin-left: auto;
    margin-right: auto
}

.templateTitle {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 5px !important;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    overflow: hidden;
    color: #616161;
    max-height: 100px;
    min-height: 15px;
    width: 87%
}

.popupBtn p,
.templateDescription p,
.templateTitle p {
    margin: 0 !important
}

.templateDescription {
    position: relative;
    font-weight: 400;
    line-height: 21px;
    overflow-y: auto;
    overflow-x: hidden;
    -wrap: break-word;
    color: #5a574e;
    max-height: 500px;
    min-height: 40px;
    width: calc(100% - 22px);
    margin-left: 20px
}

.templateDescription a,
.unidap_link,
:is(.unidap_popup_tabs, [fr-original-class=unidap_popup_tabs]) :is(.unidap_popup_content, [fr-original-class=unidap_popup_content]) a,
[fr-original-class=unidap_link] {
    text-decoration: none;
    color: #0875e1;
    cursor: pointer
}

.popupBtn {
    position: absolute;
    z-index: 1;
    top: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    border-radius: 3px;
    vertical-align: top;
    outline: 0;
    word-break: break-all;
    overflow: hidden
}

#segment_prim_btn_1 p {
    color: #333 !important
}

#segment_prim_btn_1 {
    right: 10px;
    width: 55px
}